body {
    padding: 0;
    margin: 0;
    font-family: "Alexandria", sans-serif;
    position: relative;
}

/* services Start */

/* services End */
/* fields Start */
span.fields {
    position: relative;
    display: flex;
}

@media (width >= 1200px) { 
    span.fields::before {
        position: absolute;
        content: url('./images/star.svg');
        top: -49px;
        left: -60px;
    }
    
    .fields::after {
        position: absolute;
        content: url('./images/vector.svg');
        top: -30px;
        right: -19px;
    }
}

@media (min-width: 768px) and (max-width: 900px) {
    span.fields::before {
        position: absolute;
        content: url('./images/star.svg');
        top: -65px;
        left: 45px;
    }
    
    .fields::after {
        position: absolute;
        content: url('./images/vector.svg');
        top: -40px;
        right: 65px;
    }
}

/* fields End*/

.hover\:shadow-2xl:hover {
    --tw-shadow: 0 25px 78px -12px rgb(0 0 0 / 0.15);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* features Start */
.features-card:hover img {
    background-color: white;
}

/* features End */

/* pricing Start */
@media (width >= 1200px) {
    .price {
        background-image: url('./images/bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* pricing End */


/*  testimonial Start  */
@media (width >= 1200px){
    .desc::before {
        content: url('./images/up.svg');
        position: absolute;
        top: 3% !important;
        left: 19% !important;
    }
    
    .desc::after {
        content: url('./images/down.svg');
        position: absolute;
        bottom: 50% !important;
        right: 18% !important;
    }
}

.desc::before {
    content: url('./images/up.svg');
    position: absolute;
    top: 10px;
    left: 20px;
}

.desc::after {
    content: url('./images/down.svg');
    position: absolute;
    bottom: 203px;
    right: 9px;
}
/*  testimonial End  */

/*  cases study Start  */

/*  cases study End  */

/*  faq Start  */
@media (width >= 1200px){
    .faq {
        position: relative;
    }
    
    .faq::before {
        position: absolute;
        content: url('./images/faq1.svg');
        top: 0;
        left: 0;
    }
    
    .faq::after {
        position: absolute;
        content: url('./images//faq2.svg');
        bottom: 0;
        right: 0;
    }
}

/*  faq End  */

/*  ready Start  */
@media (width >= 1200px){
    .ready {
        position: relative;
    }
    
    .ready::before {
        content: url('./images/arrow.svg');
        position: absolute;
        top: 25px;
        left: -70px;
    }
    
}

@media (width >= 1200px){
    .ipad {
        position: relative;
        margin-top: 100px;
    }
    .ipad::before {
        position: absolute;
        content: url('./images/vector.svg');
        bottom: 231px;
        left: -39px;
        transform: rotateZ(-88deg);
    }
    
    .ipad::after {
        position: absolute;
        content: url('./images/star-y.svg');
        bottom: 249px;
        right: -45px;
        
    }
}
@media (width:320px) and (max-width:768px) {
    
    .ipad {
        position: relative;
        height: auto;
    }
    .ipad img{
        position: relative;
        bottom: -66px;
        left: 0;
    }
}
/*  ready End  */